/*  ========================================================================  *\
    
    B A S E . C S S
    
\*  ========================================================================  */

/*  ========================================================================  *\
    H T M L ,  B O D Y
\*  ========================================================================  */


* {
    box-sizing:   border-box;
    user-select:  none;
}

html, body {
    width:        100%;
    height:       100%;
    margin:       0 auto;
    padding:      0 auto;

    font-family:  "Gloria Hallelujah", cursive;  /*  Gloria Hallelujah, Merienda, Kalam, Caveat  */
    text-align:   center;
}
  
body {
    background-image:     url("#");
    background-size:      cover;
    background-repeat:    no-repeat;
    background-position:  top;
}


/*  ========================================================================  *\
    B A C K G R O U N D ' S
\*  ========================================================================  */

/*body   {background-color: white;}
    h1 {background-color: aqua;}
    h2 {background-color: antiquewhite;}
    h3 {background-color: aquamarine;}
    h4 {background-color: aliceblue;}
    h5 {background-color: azure;}
    h6 {background-color: bisque;}
    p  {background-color: beige;}

header {background-color: yellow;}
    .sitename {background-color: yellowgreen;}

aside  {background-color: green;}
    .menu-open-icon  {background-color: brown;}
    .menu-close-icon {background-color: brown;}
    .namesday        {background-color: blueviolet;}
    .first-content   {background-color: aqua;}
    .aside-content   {background-color: darkslategray;}

main   {background-color: blue;}

footer {background-color: red;}
    .footer-audio {background-color: brown;}
    .footer-text  {background-color: blueviolet;}
    .footer-image {background-color: yellowgreen;}*/